:root {
    /* Dark color Palette */
    --dark-font-color: #fff;
    --dark-tag-color: #ff0000;
    --dark-icon-color: #ab0000;
    --dark-bg-color: #000;
    
    /* Light color Palette */
    --light-font-color: #000;
    --light-tag-color: #40E0D0;
    --light-icon-color: #30D5C8;
    --light-bg-color: #e6e6e6;
}

.page-wrapper {
    background-color: var(--dark-bg-color);
}
